:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(52, 52, 52, 0.5);
}

.viewport {
    background-color: rgb(33, 33, 33);    
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
}